<header>
  <h1>{{pageTitle}}</h1>
  <p>Select / Valitse:</p>
  <p><a href="/">Home Page - Kotisivu</a></p>
  <p><a href="/numberguesser">Number Guesser - Arvauspeli</a></p>
  <p><a href="/haikugenerator">Haikugenerator - Haikugeneraattori</a></p>
  <p><a href="/chat">Chat - Chatti</a></p>
</header>